<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InfoVis VU 2026</title>

    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style.css')}}">

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/3.0.0/topojson.min.js"></script>
    <script src="{{url_for('static',filename='js/map.js')}}"></script>
    <script src="{{url_for('static',filename='js/scatterplot.js')}}"></script>
    <script src="{{url_for('static',filename='js/lineplot.js')}}"></script>

</head>
<body>

<h1>InfoVis VU 2026 - Exercise 2</h1>
<p>
    ARORA AARADHAYA (12534787),
    EKATERINA DOBRYNINA (12332276),
    ZUBKOVA SOFIA (12534780)
</p>


<div id="main_container" class="main_container">
    <div class="container_l">
        <svg id="svg_map"></svg>
    </div>
    <div class="container_r">
        <p></p>
        <svg id="svg_plot"></svg>
    </div>
</div>

<div class="controls_row">

    <div id="dropdown_div" class="control_box">

        <label>Indicator:</label>

        <select id="indicator_change" class="dropdown"></select>

    </div>

    <div class="control_box slider_box">

        <label for="year_slider">Year:</label>

        <span id="year_value">2020</span>

        <input
            type="range"
            id="year_slider"
            min="1960"
            max="2020"
            value="2020"
            step="1"
        >
    </div>
</div>

<div class="line_container">
    <svg id="svg_line_plot"></svg>
</div>

<div id="tooltip" style="
    position: absolute;
    display: none;
    background: white;
    border: 1px solid #999;
    padding: 8px;
    font-size: 12px;
    pointer-events: none;
"></div>

<script>
    let data = {{ data | safe }};
    let pcaData = {{ pca_data | safe }};

    let selectedIndicator = "Rural population growth (annual %)";
    let selectedYear = 2020;
    let selectedCountry = null;
    let brushedCountries = [];

    d3.select("#year_slider").on("input", function() {

    selectedYear = +this.value;

    d3.select("#year_value").text(selectedYear);

    updateMapColors();

    if (selectedCountry !== null) {
        updateLinePlot(selectedCountry);
    }
});

    initDropdown();
    initMap();
    initScatterplot();
</script>

</body>
</html>